{% extends 'base.html' %}

{% load static %}

{% block content %}

<!-- Category section -->
<section class="category-section spad">
	<div class="container-fluid">
		<div class="section-title">
			<h2>{{ album.name }}</h2>
            <h5>{{ artist.get.name }}</h5>
		</div>
		<div class="container">
			<div class="category-links">
				<a href="{% url 'category_app:artists' %}">All Artists</a>
				{% for cat in cats %}
					<a href="{% url 'category_app:category' cat.id %}">{{ cat.tittle }}</a>
				{% endfor %}
			</div>
		</div>
		<div class="category-items">
			<div class="row">
					<div class="col-md-4">
						<div class="category-item2">
							<img src="{{album.image.url }}" alt="">
							<div class="ci-text">
								<h4>{{album.name}}</h4>
								{% comment %} <p>Live from Madrid</p> {% endcomment %}
							</div>
{#							<a href="{% url 'category_app:artist' artist.id %}" class="ci-link"><i class="fa fa-play"></i></a>#}
						</div>
					</div>
			</div>
		</div>
{#        <div class="category-items">#}
{#			<div class="row">#}
{#				{% for album in albums %}#}
{#					<div class="col-md-4">#}
{#						<div class="category-item2">#}
{#							<img src="{{ album.image.url }}" alt="">#}
{#							<div class="ci-text">#}
{#								<h4>{{artist.name}}</h4>#}
{#								{% comment %} <p>Live from Madrid</p> {% endcomment %}#}
{#							</div>#}
{#							<a href="{% url 'category_app:artist' artist.id %}" class="ci-link"><i class="fa fa-play"></i></a>#}
{#						</div>#}
{#					</div>#}
{#				{% endfor %}#}
{#			</div>#}
		</div>
	</div>
</section>
<!-- Category section end -->

<!-- Songs section  -->
<section class="songs-section">
	<div class="container">
		<!-- song -->
		{% for song in songs %}
			<div class="song-item">
				<div class="row">
					<div class="col-lg-4">
						<div class="song-info-box">
							<img src="{{ song.image.url }}" alt="">
							<div class="song-info" style="display: inline">
								<h4>{{ song.name }}</h4>
								<p>{{ song.artist_name  }}</p>
                                <p>{{ song.album_name }}</p>
                                <p>{{ song.release_date }}</p>
							</div>
					</div>
					</div>
					<div class="col-lg-6">
						<div class="single_player_container">
							<div class="single_player">
								<div class="jp-jplayer jplayer" id="jplayer_{{ forloop.counter }}" data-ancestor=".jp_container_{{ forloop.counter }}" data-url="{{song.song.url}}"></div>
								<div class="jp-audio jp_container_{{ forloop.counter }}" role="application" aria-label="media player">
									<div class="jp-gui jp-interface">

										<!-- Player Controls -->
										<div class="player_controls_box">
											<button class="jp-prev player_button" tabindex="0"></button>
											<button class="jp-play player_button" tabindex="0"></button>
											<button class="jp-next player_button" tabindex="0"></button>
											<button class="jp-stop player_button" tabindex="0"></button>
										</div>
								<!-- Progress Bar -->
										<div class="player_bars">
											<div class="jp-progress">
												<div class="jp-seek-bar">
													<div>
														<div class="jp-play-bar"><div class="jp-current-time" role="timer" aria-label="time">0:00</div></div>
													</div>
												</div>
											</div>
											<div class="jp-duration ml-auto" role="timer" aria-label="duration">00:00</div>
										</div>
									</div>
									<div class="jp-no-solution">
										<span>Update Required</span>
										To play the media you will need to either update your browser to a recent version or update your <a href="http://get.adobe.com/flashplayer/" target="_blank">Flash plugin</a>
									</div>
								</div>
							</div>
						</div>
					</div>
					<div class="col-lg-2">
						<div class="songs-links">
							<a href=""><img src="{% static 'img/icons/p-1.png' %}" alt=""></a>
							<a href="{{song.song.url}}" download ><img src="{% static 'img/icons/p-2.png' %}" alt="Download"></a>
							<a href=""><img src="{% static 'img/icons/p-3.png' %}" alt=""></a>
						</div>
					</div>               
				</div>
			</div>
		{% endfor %}
{#		<div class="site-pagination pt-5 mt-5">#}
{#			<a href="#" class="active">01.</a>#}
{#			<a href="#">02.</a>		#}
{#			<a href="#">03.</a>#}
{#			<a href="#">04.</a>#}
{#		</div>#}
{#	</div>#}
</section>
<!-- Songs section end -->

{% endblock %}